:root {
  --color-green-1: #27ae60;
  --color-green-2: #2ecc71;
  --color-primary-dark: #ba265d;
  --color-grey-heading: #2c3e50;
  --color-grey-base: #7f8c8d;
  --color-grey-icon: #95a5a6;
  --color-grey-light-4: #ccc;
  --color-blue-dark: #4b85bf;
  --color-blue-light: #afc3d4;
  --color-white: #ecf0f1;
  --color-orang: #e74c3c;
  --color-blue-dark-2: #34495e;
  --color-blue-dark-3: #243342;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(122, 94, 94, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-base);
  background-image: linear-gradient(to bottom, var(--color-blue-dark), var(--color-blue-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 110rem;
  margin: 8rem auto;
  background-color: var(--color-white);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  height: 9rem;
  display: flex; }

.content {
  display: flex;
  height: 100vh; }

.sidebar {
  flex: 0 0 20%;
  background-color: var(--color-blue-dark-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-content {
  flex: 0 0 80%;
  background: blue; }

.header-user {
  flex: 0 0 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-green-2); }
  .header-user__photo {
    border-radius: 10rem; }
  .header-user__name {
    font-size: 1.3rem;
    color: #fff;
    margin-left: -4rem; }

.user-nav {
  flex: 0 0 15%;
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav__icon-box {
    position: relative; }
    .user-nav__icon-box:hover {
      background-color: var(--color-green-2);
      color: #fff; }
  .user-nav__icon {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    color: var(--color-grey-icon); }
  .user-nav__notification {
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    background-color: var(--color-orang);
    border-radius: 50%;
    color: #fff;
    top: 2.4rem;
    left: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.logo {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }

.search {
  flex: 0 0 23%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem; }
  .search__input {
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    margin-right: -3rem;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      width: 100%; }
  .search__button {
    border: none; }
    .search__button i {
      display: flex;
      align-items: center;
      height: 2.5rem;
      width: 2.5rem;
      font-size: 1.5rem;
      color: var(--color-grey-icon); }
    .search__button:focus {
      outline: none; }

.side-nav {
  margin-top: 3rem;
  list-style: none; }
  .side-nav__link {
    text-decoration: none;
    padding: 2rem 4rem;
    font-size: 1.4rem;
    display: block;
    color: var(--color-grey-icon); }
    .side-nav__link:hover {
      background-color: var(--color-blue-dark-3);
      color: #FFF; }
    .side-nav__link i {
      margin-right: 2rem;
      font-size: 1.8rem; }
      .side-nav__link i:hover {
        color: var(--color-green-1); }
